*{margin: 0;padding: 0;}

body{

	background: #fff;
}

header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#000000d0;
	margin-bottom:20px;
	z-index:1;
}
 
.wrapp {
	width:100%; /* Establecemos que el ancho sera del 90% */
	max-width:1500px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}
 
header .logo {
	color:#f2f2f2;
	font-size:50px;
	line-height:200px;
	float:left;
	user-select: none; 
}
 
header nav {
	float:right;
	line-height:200px;
}
 
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}

h1{
  padding-top: 150px;
  text-align:center;
  font-size: 30px;
  user-select: none; 
}

h2{
  padding-top: 150px;
  text-align:center;
  font-size: 30px;
  user-select: none; 
}






.header2 {
	position: fixed;
	height:100px;
}

.header2 .logo {
	line-height:100px;
	font-size:30px;
}

.header2 nav {
	line-height:100px;
}

@media screen and (max-width: 950px) {
	header .logo,
	header nav {
		width:100%;
		text-align:center; /*Centramos el menu y el logotipo*/
		line-height:100px;
	}

	.header2 {
		height:auto;
	}

	.header2 .logo,
	.header2 nav {
		line-height:50px;
	}
}


#gauge1{
	padding-top: 150px
    width: 100%;
    text-align: center;
    z-index: 2;

}

#gauge2{
	padding-top: 150px
    width: 100%;
    text-align: center;
}


#m1,#m2,#m3,#m4{
	display:inline-block;
	width: 24%;
	
    
}
#m5,#m6,#m7{

	display:inline-block;
	width: 24%; 

	
	 
}


@import url(“https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700”);
#panel {
	padding-top: 150px
    width: 100%;
    height: 300px;
    text-align: center;
    z-index: 2;

}

#panel2 {
	padding-top: 150px
    width: 100%;
    height: 300px;
    text-align: center;
    z-index: 2;

}



#wrapper{
  width: 220px;
  margin: 20px 60px;
  display:inline-block;
}

#theMarquee{
  height: 55px;
  background: black;
  box-shadow: 
    0px 0px 2px 0px #aaa inset,
    0px -1px 2px 0px #aaa inset,
    2px -5px 5px 0px #111 inset,
    0px -5px 5px 0px #111 inset,
    2px 5px 5px 0px #111;
  border-radius: 5px;
}

h3{
  margin-top: 20px;
  padding: 30px;
  font-size: 20px;
  text-align: center;
  color: black;
  user-select: none; 
}


h4{
  text-align: center;
  color: white;
  font-size: 15px;
  user-select: none; 
}

h6{
  margin-top: 20px;
  padding: 30px;
  font-size: 20px;
  text-align: center;
  color: black;
  user-select: none; 
}

{
  text-align: center;
  color: white;
  font-size: 15px;
}


.btn-3d {
  font-family: ‘yanone kaffeesatz’;
  font-weight: bold;
  font-size: 1.0em;
  text-align: center;
  padding: .1em .3em;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  width:50px;
  height: 50px;
  margin-bottom: 9px;
  background-color: #f5f6fa;
  color: #2C3A47;
  box-shadow: 0 9px 0 #e4e7f2, 0 9px 25px rgba(0, 0, 0, 0.7);
  user-select: none; 
}
#toggle1,#toggle2,#toggle3,#toggle21,#toggle22,#toggle23{
  display: none;
}


#toggle31,#toggle32,#toggle33,#toggle41,#toggle42,#toggle43 {
  display: none;
}

#toggle51,#toggle52,#toggle53,#toggle61,#toggle62,#toggle63,#toggle71,#toggle72,#toggle73{
  display: none;
}





.AUT {
  background-color: #2C3A47;
  color: #00000080;
  box-shadow: 0 9px 0 #182028, 0 9px 25px rgba(0, 0, 0, 0.7);
}

#toggle1:checked + .AUT,#toggle21:checked + .AUT,#toggle31:checked + .AUT{

  position: relative;
  top: 6px;
  color: #ff8000;
  box-shadow: 0 3px 0 #182028, 0 3px 6px rgba(0, 0, 0, 0.7);
}


#toggle41:checked + .AUT,#toggle51:checked + .AUT,#toggle61:checked + .AUT,#toggle71:checked + .AUT{

  position: relative;
  top: 6px;
  color: #ff8000;
  box-shadow: 0 3px 0 #182028, 0 3px 6px rgba(0, 0, 0, 0.7);
}

.ON {
  background-color: #2C3A47;
  color: #00000080;
  box-shadow: 0 9px 0 #182028, 0 9px 25px rgba(0, 0, 0, 0.7);
}

#toggle2:checked + .ON,#toggle22:checked + .ON,#toggle32:checked + .ON{

  position: relative;
  top: 6px;
  color: #faed27;
  box-shadow: 0 3px 0 #182028, 0 3px 6px rgba(0, 0, 0, 0.7);
}


#toggle42:checked + .ON,#toggle52:checked + .ON,#toggle62:checked + .ON, #toggle72:checked + .ON{

  position: relative;
  top: 6px;
  color: #faed27;
  box-shadow: 0 3px 0 #182028, 0 3px 6px rgba(0, 0, 0, 0.7);
}


.OFF {
  background-color: #2C3A47;
  color: #00000080;
  box-shadow: 0 9px 0 #182028, 0 9px 25px rgba(0, 0, 0, 0.7);
}

#toggle3:checked + .OFF,#toggle23:checked + .OFF, #toggle33:checked + .OFF{

  position: relative;
  top: 6px;
  color: #f80000 ;
  box-shadow: 0 3px 0 #182028, 0 3px 6px rgba(0, 0, 0, 0.7);
}


#toggle43:checked + .OFF,#toggle53:checked + .OFF,#toggle63:checked + .OFF,#toggle73:checked + .OFF{

  position: relative;
  top: 6px;
  color: #f80000 ;
  box-shadow: 0 3px 0 #182028, 0 3px 6px rgba(0, 0, 0, 0.7);
}
.btn-container {
  text-align: left;
  margin-top: 20px;
}
.btn-container .btn-3d {
  margin: 5px;
}


